.App {
  /* text-align: center; */
}

.first-graphic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 800px;
}

.first-graphic > div {
  position: relative;
}

.first-graphic-row-1 {
  grid-column-start: 1;
}

.first-graphic-row-2 {
  grid-column-start: 2;
}

.first-graphic-row-3 {
  grid-column-start: 3;
}

.first-graphic-row-4 {
  grid-column-start: 4;
}

.first-graphic-row-5 {
  grid-column-start: 5;
}

.first-graphic-row-6 {
  grid-column-start: 6;
}